/*Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}
/*-- banner --*/
.banner {
    background: url("../images/banner2.jpg") no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 985px;
}

.banner-info {
    margin-top: 18em;
}

    .banner-info h2:nth-child(2) {
        margin-top: 70px;
    }

    .banner-info img {
        width: 10%;
        margin: 0 auto;
    }

    .banner-info h2 {
        margin-bottom: 10px;
        text-align: center;
        color: #ffffff;
        font-size: 34px;
        font-weight: 300;
    }

    .banner-info h1 {
        color: #ffffff;
        margin: 10px 0;
        font-size: 68px;
        text-align: center;
        font-weight: 700;
    }

    .banner-info h3 {
        color: #ffffff;
        margin: 50px 0 157px 0;
        font-size: 48px;
        text-align: center;
        font-weight: 300;
    }

.learnmore {
    margin: 25px 0 50px 0;
}
/* Sweep To Right */
a.button, a.button2 {
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    background: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background: #8cc739;
    color: #fff;
}

    a.hvr-sweep-to-right:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(107, 122, 89, 0.39);
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    a.hvr-sweep-to-right:hover, a.hvr-sweep-to-right:focus, a.hvr-sweep-to-right:active {
        color: #000;
    }

        a.hvr-sweep-to-right:hover:before, a.hvr-sweep-to-right:focus:before, a.hvr-sweep-to-right:active:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
/* //Sweep To Right */
/*-- //banner --*/
/*-- navigation --*/
.wrap {
    width: 90%;
    margin: 0 auto;
}

.navigation {
    background: #8cc739;
}

.nav-left {
    width: 4%;
    padding: 13px 0px;
    float: left;
}

    .nav-left img {
        width: 100%;
    }
/*-- menu --*/
.nav-right span {
    display: none;
}
/*-- //menu --*/
/*-- fixed-header --*/
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    left: 0;
    z-index: 9999;
}
/*-- //fixed-header --*/
.nav-right {
    float: right;
    width: 57%;
    margin-top: 7px;
}

    .nav-right ul {
        padding: 0;
        margin: 0;
    }

        .nav-right ul li {
            display: inline-block;
        }

            .nav-right ul li a {
                color: #ffffff;
                margin: 25px 5px;
                font-size: 14px;
                font-weight: 600;
                text-decoration: none;
                display: block;
            }

                .nav-right ul li a:hover {
                    color: #ffffff;
                    transition: .5s all;
                    -webkit-transition: .5s all;
                    -moz-transition: .5s all;
                    -o-transition: .5s all;
                    -ms-transition: .5s all;
                }
/*-- effect for nav --*/
.cl-effect-1 a::before,
.cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}
/*-- //effect --*/
/*-- //navigation --*/
/*-- about --*/
.about {
    padding-top: 90px;
    border-bottom: 1px solid #f5f5f5;
}

.about-left h3, .what-info h3, .team-info h3, .portfolio-info h3, .pricing-info h3, .clients-info h3, .contact-info h3 {
    font-size: 18px;
    margin: 0px 0 14px 0;
    font-weight: 700;
    color: #000000;
}

.about-left h2 {
    color: #8cc739;
    font-size: 27px;
    font-weight: 300;
    margin: 20px 0;
}

.about-left p {
    color: #999999;
    margin: 0;
    font-size: 17px;
    line-height: 1.8em;
}

.about-right img {
    width: 63%;
    height: 312px;
}

.strip {
    background: #999999;
    width: 10%;
    padding: 1px;
}
/*-- //about --*/
/*-- what-we-do --*/
.what-we-do {
    padding-top: 90px;
    background: #f5f5f5;
}

.hand-icon {
    background: url("../images/c.png") no-repeat 0px 0px;
    width: 94px;
    height: 94px;
    display: block;
    margin: 0 auto;
}

    .hand-icon:hover {
        background: url("../images/h.png") no-repeat 0px 0px;
        width: 94px;
        height: 94px;
        display: block;
        cursor: pointer;
        transition: .5s all;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -o-transition: .5s all;
        -ms-transition: .5s all;
        transform: rotateY(360deg);
    }

.headset-icon {
    background: url("../images/c.png") no-repeat -300px 0px;
    width: 94px;
    height: 94px;
    display: block;
    margin: 0 auto;
}

    .headset-icon:hover {
        background: url("../images/h.png") no-repeat -300px 0px;
        width: 94px;
        height: 94px;
        display: block;
        cursor: pointer;
        transition: .5s all;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -o-transition: .5s all;
        -ms-transition: .5s all;
        transform: rotateY(360deg);
    }

.star-icon {
    background: url("../images/c.png") no-repeat -600px 0px;
    width: 94px;
    height: 94px;
    display: block;
    margin: 0 auto;
}

    .star-icon:hover {
        background: url("../images/h.png") no-repeat -600px 0px;
        width: 94px;
        height: 94px;
        display: block;
        cursor: pointer;
        transition: .5s all;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -o-transition: .5s all;
        -ms-transition: .5s all;
        transform: rotateY(360deg);
    }

.box-icon {
    background: url("../images/c.png") no-repeat -900px 0px;
    width: 94px;
    height: 94px;
    display: block;
    margin: 0 auto;
}

    .box-icon:hover {
        background: url("../images/h.png") no-repeat -900px 0px;
        width: 94px;
        height: 94px;
        display: block;
        cursor: pointer;
        transition: .5s all;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -o-transition: .5s all;
        -ms-transition: .5s all;
        transform: rotateY(360deg);
    }

.what-info {
    width: 62%;
}

    .what-info p {
        margin: 20px 0 0 0;
        color: #999999;
        font-size: 26px;
        font-weight: 300;
    }

.what-grids {
    padding: 100px 0;
}

.what-grid h3 {
    font-size: 15px;
    color: #000000;
    font-weight: 700;
    margin: 23px 0 12px 0;
}

.what-grid p {
    color: #999999;
    font-size: 14px;
    margin: 12px 0 0 0;
}

.border {
    width: 20%;
    margin: 0 auto;
    background: rgb(0, 220, 255);
    padding: 1px 0;
}
/*-- //what-we-do --*/
/*-- what-bottom --*/
.what-bottom {
    background: #000000;
    padding: 125px 0;
}

.love-icon {
    background: url("../images/img-sprite.png") no-repeat 0px 0px;
    width: 52px;
    height: 54px;
    display: block;
    margin: 0 auto;
}

.music-icon {
    background: url("../images/img-sprite.png") no-repeat -295px 0px;
    width: 62px;
    height: 54px;
    display: block;
    margin: 0 auto;
}

.award-icon {
    background: url("../images/img-sprite.png") no-repeat -599px 0px;
    width: 52px;
    height: 54px;
    display: block;
    margin: 0 auto;
}

.download-icon {
    background: url("../images/img-sprite.png") no-repeat -899px 0px;
    width: 52px;
    height: 54px;
    display: block;
    margin: 0 auto;
}

.bottom-grid h3 {
    color: #ffffff;
    font-size: 34px;
    font-weight: 700;
    margin: 20px 0 5px 0;
}

.bottom-grid p {
    color: #999999;
    margin: 0;
    font-size: 14px;
}
/*-- //what-bottom --*/
/*-- team --*/
.team {
    padding-top: 90px;
}

.team-info {
    width: 65%;
}

    .team-info p {
        margin: 20px 0 0 0;
        color: #999999;
        font-size: 26px;
        font-weight: 300;
    }

.team-grid {
    background: url("../images/d.jpg") no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    padding: 60px 0;
    position: relative;
    margin: 50px 0 0 0;
}

.team-arrow1 img {
    position: absolute;
    top: -3.8%;
    left: 21%;
}

.team-arrow2 img {
    position: absolute;
    top: -3.8%;
    left: 40%;
}

.team-arrow3 img {
    position: absolute;
    top: -3.8%;
    left: 59%;
}

.team-arrow4 img {
    position: absolute;
    top: -3.8%;
    left: 77%;
}

.team-left h3 {
    color: #ffffff;
    margin: 0;
    font-size: 16px;
}

p.highlight {
    color: #8cc739 !important;
}

.team-left p {
    color: #a8a8a8;
    margin: 0;
    font-size: 15px;
}

.team-left ul {
    margin: 0;
    padding: 0;
}

    .team-left ul li {
        display: inline-block;
        padding-left: 3px;
    }

        .team-left ul li a.fbook {
            background: url("../images/sprite.png") no-repeat 2px -2px;
            width: 30px;
            height: 30px;
            display: block;
        }

            .team-left ul li a.fbook:hover {
                background: url("../images/sprite.png") no-repeat -22px -2px #8cc739;
                border-radius: 3px;
            }

        .team-left ul li a.twitt {
            background: url("../images/sprite.png") no-repeat -50px -2px;
            width: 30px;
            height: 30px;
            display: block;
        }

            .team-left ul li a.twitt:hover {
                background: url("../images/sprite.png") no-repeat -79px -3px #8cc739;
                border-radius: 3px;
            }

        .team-left ul li a.pinin {
            background: url("../images/sprite.png") no-repeat -108px -3px;
            width: 30px;
            height: 30px;
            display: block;
        }

            .team-left ul li a.pinin:hover {
                background: url("../images/sprite.png") no-repeat -138px -4px #8cc739;
                border-radius: 3px;
            }

.team-left p:nth-child(3) {
    margin: 25px 0;
}

.bar p {
    color: #ffffff;
    text-align: right;
    font-size: 14px;
    margin: 26px 0 0 0;
}

.skills {
    background: #555555;
    width: 100%;
    margin: 7px 0;
    height: 10px;
    border-radius: 3px;
}

.skill1, .skill2, .skill3, .skill4 {
    background: #8cc739;
    height: 100%;
    display: block;
    border-radius: 3px;
}

ul.resp-tabs-list li {
    display: inline-block;
    width: 23%;
    position: relative;
}

    ul.resp-tabs-list li:hover label.sed-in {
        display: block;
    }

label.sed-in {
    background: rgba(140, 199, 57, 0.55);
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid #8cc739;
    display: none;
}

/*-- start tabs --*/
.sap_tabs {
    margin: 80px 0 0 0;
}

.resp-tabs-list {
    width: 1170px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

    .resp-tabs-list ul {
        margin: 0;
    }

.resp-tab-item:first-child {
    border-left: none;
}

.resp-tab-item {
    font-size: 0.8125em;
    cursor: pointer;
    display: inline-block;
    margin: 0 11px;
    text-align: center;
    list-style: none;
    float: left;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
}

.resp-tab-active {
}

.resp-tab-item span {
}

.resp-tabs-container {
    padding: 0px;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

h2.resp-accordion {
    font-size: 1em;
    margin: 0px;
    padding: 10px 15px;
    background: #ffe71d;
    margin: 10px 0;
    color: #30318b;
}

    h2.resp-accordion:hover {
        background: #ffe71d;
        text-shadow: none;
    }
/*-- //start tabs --*/
/*-- //team --*/
/*-- portfolio --*/
#portfolio {
    padding-top: 90px;
}

.portfolio-info {
    width: 79%;
}

    .portfolio-info p {
        margin: 20px 0 0 0;
        color: #999999;
        font-size: 26px;
        font-weight: 300;
    }

.portfolio-wrapper h3 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin: 70px 0 0 20px;
    text-align: left;
}

.b-animate-go:hover div.portfolio-wrapper h3 {
    color: #ffffff;
}

.portfolio-wrapper p {
    color: #999999;
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    margin: 0 0 0 20px;
}
/*----- Strip -----*/
.b-link-stripe {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
    overflow: hidden;
}

    .b-link-stripe .b-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        overflow: hidden;
    }

    .b-link-stripe .b-line {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 20%;
        background: rgba(15, 207, 140, 0.9);
        transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden; /* lt-ie9 */
    }
/*------------------------------------------*/
/*	Animation effects
/*------------------------------------------*/
.b-animate-go {
    text-decoration: none;
}

.b-animate {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    visibility: hidden;
}

    .b-animate img {
        margin-top: 28.5%;
        display: -webkit-inline-box;
    }
/* lt-ie9 */
.b-animate-go:hover .b-animate {
    visibility: visible;
}

.b-from-left {
    position: relative;
    left: -100%;
}

.b-animate-go:hover .b-from-left {
    left: 0;
}

span.m_4 {
    font-size: 14px;
    font-weight: 400;
}

p.m_5 {
    margin: 2% auto 5%;
    width: 70%;
    color: #283A47;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.5em;
    text-align: center;
}

ul#filters {
    padding: 0px;
    margin: 79px auto 47px auto;
    width: 40%;
}
/*--team--*/
.col_1_of_4:first-child {
    margin-left: 0;
}

.span_1_of_4 {
    width: 22.8%;
}

.col_1_of_4 {
    display: block;
    float: left;
    margin: 1% 0 1% 2.6%;
    background: #FFF;
}

.b-wrapper:hover {
    background: rgba(140, 199, 57, 0.64);
    border: 2px solid #8cc739;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/* lt-ie9 */
.b-link-stripe:hover .b-line {
    visibility: visible;
}

.b-link-stripe .b-line1 {
    left: 0;
}

.b-link-stripe .b-line2 {
    left: 20%;
    transition-delay: 0.1s !important;
    -moz-transition-delay: 0.1s !important;
    -ms-transition-delay: 0.1s !important;
    -o-transition-delay: 0.1s !important;
    -webkit-transition-delay: 0.1s !important;
}

.b-link-stripe .b-line3 {
    left: 40%;
    transition-delay: 0.2s !important;
    -moz-transition-delay: 0.2s !important;
    -ms-transition-delay: 0.2s !important;
    -o-transition-delay: 0.2s !important;
    -webkit-transition-delay: 0.2s !important;
}

.b-link-stripe .b-line4 {
    left: 60%;
    transition-delay: 0.3s !important;
    -moz-transition-delay: 0.3s !important;
    -ms-transition-delay: 0.3s !important;
    -o-transition-delay: 0.3s !important;
    -webkit-transition-delay: 0.3s !important;
}

.b-link-stripe .b-line5 {
    left: 80%;
    transition-delay: 0.4s !important;
    -moz-transition-delay: 0.4s !important;
    -ms-transition-delay: 0.4s !important;
    -o-transition-delay: 0.4s !important;
    -webkit-transition-delay: 0.4s !important;
}

.b-link-stripe:hover .b-line {
    opacity: 1;
}

}

#filters {
    margin: 3% 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

    #filters li {
        display: -webkit-inline-box;
    }

        #filters li span {
            display: block;
            border-radius: 4px;
            padding: 6px 12px;
            text-decoration: none;
            color: #75728A;
            cursor: pointer;
            font-size: 14px;
            font-weight: 600;
            background: #fff;
            margin: 0 10px 0 0;
        }

            #filters li span.active, #filters li span:hover {
                background: #8cc739;
                color: #ffffff;
                transition: 0.5s all;
                -webkit-transition: 0.5s all;
                -moz-transition: 0.5s all;
                -o-transition: 0.5s all;
                -ms-transition: 0.5s all;
            }

#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 20%;
    display: none;
    float: left;
    overflow: hidden;
}

.portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    cursor: pointer;
}

.portfolio img {
    max-width: 100%;
    /*--position: relative;--*/
    transition: all 300ms !important;
    -webkit-transition: all 300ms !important;
    -moz-transition: all 300ms !important;
}

.portfolio .label {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -40px;
}

.portfolio .label-bg {
    background: #22B4B8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio .label-text {
    color: #fff;
    position: relative;
    z-index: 500;
    padding: 5px 8px;
}

.portfolio .text-category {
    display: block;
    font-size: 9px;
    font-size: 12px;
    text-transform: uppercase;
}
/* Self Clearing Goodness */
.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.row:after,
.clearfix:after {
    clear: both;
}

.row,
.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/*-- //portfolio --*/
/*-- pricing --*/
.pricing {
    padding: 90px 0;
}

.pricing-info {
    width: 56%;
}

    .pricing-info p {
        margin: 20px 0 0 0;
        color: #999999;
        font-size: 26px;
        font-weight: 300;
    }

.basic-plan h3 {
    color: #000;
    margin: 0px;
    font-size: 25px;
    word-wrap: break-word;
}

.basic-plan p {
    padding: 15px 0;
    color: #000000;
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
}

    .basic-plan p span {
        font-size: 50px;
    }

    .basic-plan p label {
        font-size: 30px;
    }

.pricing-grids {
    margin: 100px 0 0 0;
}

.pricing-grid {
    width: 25%;
    background: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid #E0E9E9;
    margin: 3px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    text-align: center;
    float: left;
}

    .pricing-grid ul {
        margin: 0px;
        padding: 0px;
    }

        .pricing-grid ul li {
            list-style-type: none;
            color: #000000;
            padding: 12px 0;
            border-bottom: 2px solid #E0E9E9;
            word-wrap: break-word;
        }

.sign-up {
    margin: 2.5em 0 2.5em 0;
}

    .sign-up a {
        color: #fff;
        padding: 12px 30px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        background: #333333;
        font-size: 15px;
    }

.pricing-grid ul li:nth-child(5) {
    border: none;
}
/*-- //pricing --*/
/*-- addtask --*/
.addtask {
    padding: 90px 0;
    background: #f5f5f5;
}

.addtask-info {
    width: 100%;
}

    .setline-info p {
        margin: 20px 0 0 0;
        color: #999999;
        font-size: 26px;
        font-weight: 300;
        width: 25%;
    }

    .setline-info input[type="text"] {
        width: 25%;
        color: #0C090A;
        margin: 20px 0 0 0;
        padding: 15px 15px;
        outline: none;
        border: 4px solid #8cc739;
    }

    .setline-info a {
        margin: 20px 0 0 0;
    }

/*-- //addtask --*/
/*-- clients --*/
.clients {
    padding: 90px 0;
}

.clients-info {
    width: 77%;
}

    .clients-info p {
        margin: 20px 0 0 0;
        color: #999999;
        font-size: 26px;
        font-weight: 300;
    }

.client-grid {
    float: left;
    width: 20%;
}

.clients-grids {
    margin-top: 70px;
}

.client-center {
    width: 100%;
    float: center;
}

    .client-center textarea {
        width: 19%;
        height: 200px;
        color: #0C090A;
        margin: 10px 5px 5px 0px;
        outline: none;
        border: 4px solid #8cc739;
        word-wrap: break-word;
        resize: none;
    }
/*-- //clients --*/
/*-- contact --*/
.contact {
    padding: 90px 0;
    background: #f5f5f5;
}

.contact-info {
    margin-bottom: 52px;
    width: 61%;
}

.contact-left {
    width: 30%;
    float: left;
}

.contact-right {
    width: 68%;
    float: right;
}

.contact-center {
    width: 100%;
    float: center;
}

    .contact-center input[type="text"] {
        width: 25%;
        color: #0C090A;
        margin: 5px 0px 5px 0px;
        padding: 15px 15px;
        outline: none;
        border: 4px solid #8cc739;
    }

        .contact-center input[type="text"]::-webkit-input-placeholder {
            color: #0C090A;
        }

        .contact-center input[type="text"]::-moz-placeholder {
            color: #0C090A;
        }

        .contact-center input[type="text"]::-ms-input-placeholder {
            color: #0C090A;
        }

    .contact-center input[type="password"] {
        width: 25%;
        color: #0C090A;
        margin: 5px 0px 5px 0px;
        padding: 15px 15px;
        outline: none;
        border: 4px solid #8cc739;
    }

        .contact-center input[type="password"]::-webkit-input-placeholder {
            color: #0C090A;
        }

        .contact-center input[type="password"]::-moz-placeholder {
            color: #0C090A;
        }

        .contact-center input[type="password"]::-ms-input-placeholder {
            color: #0C090A;
        }

.contact-left input[type="text"] {
    width: 93%;
    color: #0C090A;
    margin: 0 23px 23px 0;
    padding: 12px 10px;
    outline: none;
    border: 1px solid #e8e8e8;
}

.contact-right textarea {
    width: 100%;
    color: #0C090A;
    resize: none;
    height: 185px;
    padding: 15px;
    outline: none;
    border: 1px solid #e8e8e8;
}

.contact-form input[type=submit] {
    color: #ffffff;
    padding: 13px 43px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border: 3px solid #8cc739;
    background: #8cc739;
}

    .contact-form input[type=submit]:hover {
        background: #ffffff;
        border: 3px solid #8cc739;
        color: #8cc739;
        transition: .5s all;
        -webkit-transition: .5s all;
        -o-transition: .5s all;
        -ms-transition: .5s all;
        -moz-transition: .5s all;
        transform: rotateY(360deg);
    }
/*-- //contact --*/
/*-- footer --*/
.footer {
    background: #f5f5f5;
    padding: 32px 0;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

.footer-left p {
    font-size: 15px;
    margin: 15px 0 0 0;
    color: #999999;
}

    .footer-left p a {
        color: #999999;
    }

        .footer-left p a:hover {
            color: #8cc739;
            text-decoration: none;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -o-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -ms-transition: 0.5s all;
        }

.footer-right ul {
    margin: 0;
    padding: 0;
}

    .footer-right ul li {
        display: inline-block;
        padding-left: 3px;
    }

        .footer-right ul li a.fb {
            background: url("../images/a.png") no-repeat 0px 0px;
            width: 44px;
            height: 44px;
            display: block;
        }

            .footer-right ul li a.fb:hover {
                background: url("../images/i.png") no-repeat 0px 0px;
                transition: .5s all;
                -webkit-transition: .5s all;
                -moz-transition: .5s all;
                -o-transition: .5s all;
                -ms-transition: .5s all;
                transform: rotateY(360deg);
            }

        .footer-right ul li a.twit {
            background: url("../images/a.png") no-repeat -50px 0px;
            width: 44px;
            height: 44px;
            display: block;
        }

            .footer-right ul li a.twit:hover {
                background: url("../images/i.png") no-repeat -50px 0px;
                transition: .5s all;
                -webkit-transition: .5s all;
                -moz-transition: .5s all;
                -o-transition: .5s all;
                -ms-transition: .5s all;
                transform: rotateY(360deg);
            }

        .footer-right ul li a.googl {
            background: url("../images/a.png") no-repeat -100px 0px;
            width: 44px;
            height: 44px;
            display: block;
        }

            .footer-right ul li a.googl:hover {
                background: url("../images/i.png") no-repeat -100px 0px;
                transition: .5s all;
                -webkit-transition: .5s all;
                -moz-transition: .5s all;
                -o-transition: .5s all;
                -ms-transition: .5s all;
                transform: rotateY(360deg);
            }

        .footer-right ul li a.linkin {
            background: url("../images/a.png") no-repeat -150px 0px;
            width: 44px;
            height: 44px;
            display: block;
        }

            .footer-right ul li a.linkin:hover {
                background: url("../images/i.png") no-repeat -150px 0px;
                transition: .5s all;
                -webkit-transition: .5s all;
                -moz-transition: .5s all;
                -o-transition: .5s all;
                -ms-transition: .5s all;
                transform: rotateY(360deg);
            }
/*-- //footer --*/
/*-- to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 0px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url("../images/arr.png") no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
/*-- //to-top --*/
@media(max-width:1440px) {
    .nav-right {
        float: right;
        width: 64%;
    }

    .team-arrow1 img {
        left: 17%;
    }

    .team-arrow2 img {
        left: 38%;
    }

    .team-arrow4 img {
        left: 80%;
    }

    .portfolio-wrapper h3 {
        margin: 50px 0 0 20px;
    }

    ul#filters {
        margin: 66px auto 38px auto;
    }
}

@media(max-width:1366px) {
    .banner-info h1 {
        font-size: 65px;
    }

    .banner-info h2 {
        font-size: 25px;
    }

    .banner-info img {
        width: 9%;
    }

    .arrow-icon img {
        width: 2.5%;
    }

    .banner-info h2:nth-child(2) {
        margin-top: 56px;
    }

    .learnmore {
        margin: 15px 0 170px 0;
    }

    .banner {
        min-height: 35px;
    }

    .nav-right {
        width: 67.5%;
        margin-top: 3px;
    }

    .nav-left {
        padding: 16px 0;
    }

    .team-arrow1 img {
        left: 16%;
    }

    .team-arrow2 img {
        left: 38%;
    }

    .team-arrow3 img {
        left: 59%;
    }

    .team-arrow4 img {
        left: 81%;
    }

    ul#filters {
        width: 40%;
    }

    .b-animate img {
        width: 16%;
    }

    .pricing-grids {
        margin: 68px 0 0 0;
    }

    .contact-form input[type=submit] {
        padding: 10px 30px;
    }
}

@media(max-width:1280px) {
    .nav-right {
        width: 72.5%;
    }

    .team-arrow1 img {
        left: 13%;
    }

    .team-arrow2 img {
        left: 37%;
    }

    .team-arrow3 img {
        left: 61%;
    }

    .team-arrow4 img {
        left: 84%;
    }

    ul#filters {
        width: 43%;
    }
}

@media(max-width:1024px) {
    .banner-info h1 {
        font-size: 60px;
    }

    .banner-info h2 {
        font-size: 26px;
    }

    a.button, a.button2 {
        padding: 8px 18px;
    }

    .banner {
        min-height: 820px;
        background: url("../images/banner2.jpg") no-repeat -332px -327px;
    }

    .banner-info {
        margin-top: 15em;
    }

    .learnmore {
        margin: 50px 0 150px 0;
    }

    .nav-right ul li a {
        margin: 25px 0px;
    }

    .nav-left {
        width: 5%;
    }

    .nav-right {
        width: 81.2%;
    }

    .col-md-7.about-left {
        float: left;
        width: 60%;
    }

    .col-md-5.about-right {
        float: right;
        width: 40%;
    }

    .about-right img {
        height: 290px;
        width: 68%;
    }

    .what-grids {
        padding: 65px 0 82px 0;
    }

    .about, .what-we-do, .team, #portfolio {
        padding-top: 82px;
    }

    .what-grid p {
        overflow: hidden;
        height: 65px;
    }

    .what-bottom {
        padding: 88px 0;
    }

    .what-info {
        width: 69%;
    }

    .team-info {
        width: 79%;
    }

    ul.resp-tabs-list li span img {
        width: 100%;
    }

    ul.resp-tabs-list li {
        width: 22.7%;
    }

    .resp-tabs-list {
        width: 1007px;
    }

    .sap_tabs {
        margin: 55px 0 0 0;
    }

    .team-left p {
        font-size: 14px;
    }

    .team-grid {
        margin: 40px 0 0 0;
    }

    .team-arrow1 img {
        left: 11%;
    }

    ul#filters {
        width: 53%;
    }

    .portfolio-wrapper h3 {
        font-size: 14px;
        margin: 29px 0 0 20px;
    }

    .portfolio-wrapper p {
        font-size: 13px;
    }

    .pricing-info {
        width: 70%;
    }

    .basic-plan p label {
        font-size: 24px;
    }

    .basic-plan p {
        font-size: 14px;
    }

        .basic-plan p span {
            font-size: 45px;
        }

    .basic-plan h3 {
        font-size: 20px;
    }

    .sign-up a {
        padding: 8px 15px;
    }

    .sign-up {
        margin-top: 1.5em;
    }

    .clients-info {
        width: 90%;
    }

    .clients {
        padding: 82px 0;
    }

    .clients-grids {
        margin-top: 52px;
    }

    .contact-form input[type=submit] {
        padding: 6px 19px;
    }

    .contact-left {
        width: 34%;
    }

    .contact-right {
        width: 65%;
    }
}

@media(max-width:768px) {
    .banner-info img {
        width: 10%;
    }

    .banner {
        min-height: 645px;
        background: url("../images/banner2.jpg") no-repeat -458px -513px;
    }

    .fixed {
        position: inherit;
    }

    span.menu {
        display: block;
        cursor: pointer;
        width: 100%;
        position: relative;
        text-align: right;
        margin-top: 18px;
    }

    ul.nav1 {
        display: none;
        background: #8cc739;
    }

    .nav-right ul.nav1 li {
        display: inline-block;
        text-align: center;
        margin: 0;
        width: 100%;
        padding: 0px 0;
    }

    .banner-info h1 {
        font-size: 45px;
    }

    .banner-info h2 {
        font-size: 20px;
    }

    .banner-info {
        margin-top: 9em;
    }

    .learnmore {
        margin: 50px 0 109px 0;
    }

    .arrow-icon img {
        width: 3%;
    }

    .nav-right ul {
        position: absolute;
        padding: 0;
        margin: 0;
        top: 77.8%;
        left: 0%;
        width: 100%;
        z-index: 999;
    }

    .nav-left {
        width: 6%;
    }

    .about-left h2 {
        font-size: 21px;
    }

    .about-left p {
        font-size: 15px;
    }

    .about, .what-we-do, .team, #portfolio {
        padding-top: 60px;
    }

    .about-right img {
        height: 286px;
        width: 78%;
    }

    .what-info p, .team-info p, .portfolio-info p, .pricing-info p, .clients-info p {
        font-size: 20px;
    }

    .col-md-3.what-grid {
        float: left;
        width: 25%;
    }

    .what-grid h3 {
        font-size: 13px;
    }

    .what-grids {
        padding: 48px 0 60px 0;
    }

    .col-md-3.bottom-grid {
        float: left;
        width: 25%;
    }

    .what-bottom {
        padding: 75px 0;
    }

    .sap_tabs {
        margin: 33px 0 0 0;
    }

    ul.resp-tabs-list li {
        width: 22%;
    }

    .resp-tabs-list {
        width: 751px;
    }

    .team-grid {
        margin: 30px 0 0 0;
    }

    .team-arrow1 img, .team-arrow2 img, .team-arrow3 img, .team-arrow4 img {
        top: -2.8%;
    }

    .team-arrow2 img {
        left: 36%;
    }

    .team-arrow4 img {
        left: 86%;
    }

    .col-md-7.team-left {
        float: left;
        width: 60%;
    }

    .col-md-5.team-right {
        float: right;
        width: 40%;
    }

    .bar p {
        margin: 12px 0 0 0;
        font-size: 13px;
    }

    .team-left p:nth-child(3) {
        margin: 15px 0;
        overflow: hidden;
        height: 104px;
    }

    .portfolio-info {
        width: 88%;
    }

    ul#filters {
        width: 71%;
        margin: 28px auto 28px auto;
    }

    .portfolio-wrapper h3 {
        font-size: 13px;
        margin: 13px 0 0 7px;
    }

    .portfolio-wrapper p {
        margin: 0 0 0 7px;
        font-size: 11px;
    }

    .pricing, .clients, .contact {
        padding: 60px 0;
    }

    .pricing-grid {
        padding: 0 17px;
    }

        .pricing-grid ul li {
            padding: 9px 0;
        }

    .sign-up {
        margin-top: 1em;
    }

    .basic-plan p span {
        font-size: 38px;
    }

    .border {
        width: 28%;
    }

    .pricing-grids {
        margin: 32px 0 0 0;
    }

    .clients-grids {
        margin-top: 33px;
    }

    .contact-info {
        margin-bottom: 32px;
    }

    .contact-left {
        width: 37%;
    }

        .contact-left input[type="text"] {
            padding: 9px;
        }

    .contact-right {
        width: 63%;
    }

        .contact-right textarea {
            height: 167px;
            padding: 8px;
        }

    .contact-form input[type=submit] {
        font-size: 14px;
    }

    .client-grid img {
        width: 80%;
    }
}

@media(max-width:640px) {
    .banner-info img {
        width: 12%;
    }

    .banner {
        min-height: 645px;
        background: url("../images/banner2.jpg") no-repeat -518px -513px;
    }

    .banner-info h1 {
        font-size: 39px;
    }

    .banner-info h2 {
        font-size: 17px;
    }

    a.button, a.button2 {
        font-size: 13px;
    }

    .arrow-icon img {
        width: 4% !important;
    }

    .nav-right ul {
        top: 153.6%;
    }

        .nav-right ul li a {
            margin: 17px 0px;
        }

    span.menu {
        margin-top: 14px;
    }

    .about-left h2 {
        font-size: 17px;
    }

    .about-left p {
        font-size: 14px;
    }

    .about-right img {
        height: 270px;
        width: 96%;
    }

    .what-info p, .team-info p, .portfolio-info p, .pricing-info p, .clients-info p {
        font-size: 16px;
    }

    .col-md-3.what-grid:nth-child(2) {
        display: none;
    }

    .col-md-3.what-grid {
        float: left;
        width: 33.3%;
    }

    .what-grid h3 {
        font-size: 13px;
    }

    .bottom-grid p {
        font-size: 12px;
    }

    .bottom-grid h3 {
        font-size: 29px;
    }

    .team-info {
        width: 78%;
    }

    ul.resp-tabs-list li {
        width: 21.4%;
    }

    .resp-tabs-list {
        width: 622px;
    }

    .team-arrow1 img, .team-arrow2 img, .team-arrow3 img, .team-arrow4 img {
        top: -4.8%;
    }

    .team-arrow1 img {
        left: 9%;
    }

    .team-arrow2 img {
        left: 35%;
    }

    .team-arrow3 img {
        left: 60%;
    }

    .team-arrow4 img {
        left: 84%;
    }

    .team-grid {
        padding: 45px 0;
    }

    #portfoliolist .portfolio:nth-child(5) {
        display: none !important;
    }

    #portfoliolist .portfolio:nth-child(10) {
        display: none !important;
    }

    #portfoliolist .portfolio {
        width: 25%;
    }

    ul#filters {
        width: 85%;
        margin: 21px auto 21px auto;
    }

    .about-left h3, .what-info h3, .team-info h3, .portfolio-info h3, .pricing-info h3, .clients-info h3, .contact-info h3 {
        font-size: 16px;
    }

    .pricing-info {
        width: 68%;
    }

    .pricing-grid:nth-child(4) {
        display: none;
    }

    .pricing-grid {
        width: 33.3%;
    }
}

@media(max-width:480px) {
    .banner-info {
        margin-top: 5em;
    }

        .banner-info h1 {
            font-size: 31px;
        }

    .banner {
        min-height: 462px;
        background: url("../images/banner2.jpg") no-repeat -618px -681px;
    }

    .banner-info h2:nth-child(2) {
        margin-top: 39px;
    }

    .banner-info img {
        width: 14%;
    }

    .learnmore {
        margin: 30px 0 66px 0;
    }

    .banner-info h2 {
        font-size: 14px;
    }

    .arrow-icon img {
        width: 4.5% !important;
    }

    .nav-left {
        width: 9%;
    }

    span.menu {
        margin-top: 17px;
    }

    .nav-right ul {
        top: 114.6%;
    }

    a.button, a.button2 {
        font-size: 11px;
    }

    .strip {
        width: 20%;
    }

    .about-left h2 {
        font-size: 14px;
    }

    .about-left h3, .what-info h3, .team-info h3, .portfolio-info h3, .pricing-info h3, .clients-info h3, .contact-info h3 {
        font-size: 14px;
    }

    .about-left p {
        font-size: 14px;
        overflow: hidden;
        height: 97px;
    }

    .about-right img {
        height: 248px;
        width: 104%;
    }

    .what-info p, .team-info p, .portfolio-info p, .pricing-info p, .clients-info p {
        font-size: 14px;
    }

    .what-info {
        width: 81%;
    }

    .what-grid h3 {
        font-size: 10px;
    }

    .what-grid p {
        font-size: 13px;
        overflow: hidden;
        height: 58px;
    }

    .col-md-3.bottom-grid:nth-child(3) {
        display: none;
    }

    .col-md-3.bottom-grid {
        width: 33.3%;
    }

    ul.resp-tabs-list li:nth-child(4) {
        display: none;
    }

    ul.resp-tabs-list li {
        width: 28.5%;
    }

    .resp-tabs-list {
        width: 460px;
    }

    .bar p {
        margin: 8px 0 0 0;
        font-size: 11px;
    }

    .team-left p:nth-child(3) {
        margin: 5px 0;
    }

    .team-arrow1 img {
        left: 12%;
    }

    .team-arrow2 img {
        left: 45%;
    }

    .team-arrow3 img {
        left: 78%;
    }

    .team-left p {
        font-size: 13px;
    }

    #filters li span {
        padding: 3px 10px;
        font-size: 13px;
        margin: 0;
    }

    ul#filters {
        width: 94%;
    }

    .b-animate img {
        width: 20%;
        margin-top: 17.9%;
    }

    .portfolio-wrapper h3 {
        font-size: 12px;
        margin: 6px 0 0 7px;
    }

    .portfolio-wrapper p {
        font-size: 10px;
    }

    .bottom-grid h3 {
        font-size: 25px;
        margin: 13px 0 5px 0;
    }

    .what-bottom {
        padding: 60px 0;
    }

    .portfolio-info {
        width: 94%;
    }

    .pricing-info {
        width: 74%;
    }

    .team-info {
        width: 92%;
    }

    .what-grids {
        padding: 33px 0 60px 0;
    }

    .pricing-grid ul li {
        font-size: 12px;
    }

    .basic-plan p span {
        font-size: 33px;
    }

    .basic-plan p label {
        font-size: 19px;
    }

    .pricing-grid {
        padding: 0 12px;
    }

    .basic-plan p {
        padding: 5px 0;
    }

    .basic-plan h3 {
        font-size: 17px;
    }

    .sign-up a {
        font-size: 12px;
        padding: 6px 10px;
        margin-top: 5px;
    }

    .client-grid:nth-child(5) {
        display: none;
    }

    .client-grid {
        width: 25%;
    }

    .contact-left input[type="text"] {
        padding: 7px;
    }

    .contact-right textarea {
        height: 155px;
    }

    .contact-form input[type=submit] {
        font-size: 12px;
        padding: 4px 9px;
    }

    .footer-left {
        float: none;
    }

        .footer-left p {
            font-size: 14px;
            text-align: center;
        }

    .footer {
        padding: 22px 0;
    }

    .footer-right {
        float: none;
        text-align: center;
        margin-top: 15px;
    }
}

@media(max-width:320px) {
    .banner-info img {
        width: 17%;
    }

    .banner-info h1 {
        font-size: 26px;
    }

    .banner-info {
        margin-top: 4em;
    }

        .banner-info h2 {
            font-size: 12px;
        }

            .banner-info h2:nth-child(4) {
                overflow: hidden;
                height: 15px;
            }

    .nav-right ul {
        top: 85.5%;
    }

        .nav-right ul li a {
            margin: 12px 0px;
        }

    .learnmore {
        margin: 21px 0 30px 0;
    }

    a.button, a.button2 {
        font-size: 11px;
        padding: 6px 11px;
    }

    .arrow-icon img {
        width: 5.5% !important;
    }

    .banner {
        min-height: 357px;
        background: url("../images/banner2.jpg") no-repeat -650px -732px;
    }

    span.menu img {
        width: 11%;
        margin-top: 0px;
    }

    .nav-left {
        width: 10%;
    }

    .col-md-7.about-left {
        float: left;
        width: 100%;
    }

    .about-left h2 {
        font-size: 17px;
        overflow: hidden;
        height: 38px;
        margin: 11px 0 0 0;
    }

    .about-left p {
        font-size: 14px;
        overflow: hidden;
        height: 100px;
        margin-bottom: 25px;
    }

    .col-md-5.about-right {
        float: right;
        width: 100%;
    }

    .about-right img {
        height: 179px;
        width: 93%;
    }

    .strip {
        width: 18%;
    }

    .about, .what-we-do, .team, #portfolio {
        padding-top: 45px;
    }

    .what-info {
        width: 100%;
    }

    .col-md-3.what-grid {
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }

    .what-info p {
        margin: 10px 0 0 0;
        overflow: hidden;
        height: 42px;
    }

    .what-grids {
        padding: 22px 0 45px 0;
    }

    .what-grid h3 {
        font-size: 14px;
        margin: 16px 0 12px 0;
    }

    .col-md-3.bottom-grid {
        width: 50%;
    }

        .col-md-3.bottom-grid:nth-child(4) {
            display: none;
        }

    .what-bottom {
        padding: 45px 0;
    }

    .team-info {
        width: 100%;
    }

        .team-info p {
            margin: 13px 0 0 0;
            overflow: hidden;
            height: 40px;
        }

    .sap_tabs {
        margin: 19px 0 0 0;
    }

    ul.resp-tabs-list li:nth-child(3) {
        display: none;
    }

    ul.resp-tabs-list li {
        width: 42.7%;
    }

    .resp-tabs-list {
        width: 303px;
    }

    .team-left p:nth-child(3) {
        overflow: hidden;
        height: 88px;
        font-size: 13px;
    }

    .team-grid {
        padding: 30px 0;
    }

    .col-md-7.team-left {
        float: left;
        width: 100%;
    }

    .col-md-5.team-right {
        float: right;
        width: 100%;
    }

    .team-arrow1 img, .team-arrow2 img, .team-arrow3 img, .team-arrow4 img {
        top: -3.8%;
    }

    .team-arrow1 img {
        left: 18%;
    }

    .team-arrow2 img {
        left: 69%;
    }

    .bar p {
        font-size: 11px;
    }

    .portfolio-info p {
        margin: 10px 0 0 0;
        overflow: hidden;
        height: 44px;
    }

    #filters li:nth-child(3) {
        display: none;
    }

    #filters li span {
        font-size: 12px;
    }

    ul#filters {
        width: 90%;
    }

    #portfoliolist .portfolio:nth-child(1) {
        display: none !important;
    }

    #portfoliolist .portfolio:nth-child(3) {
        display: none !important;
    }

    #portfoliolist .portfolio {
        width: 33.3%;
    }

    .b-animate img {
        width: 23%;
        margin-top: 4.9%;
    }

    .portfolio-wrapper h3 {
        font-size: 11px;
        margin: 0px 0 0 7px;
    }

    .pricing, .clients, .contact {
        padding: 45px 0;
    }

    .pricing-info p {
        margin: 10px 0 0 0;
        overflow: hidden;
        height: 41px;
    }

    .pricing-info {
        width: 100%;
    }

    .pricing-grids {
        margin: 22px 0 0 0;
    }

    .pricing-grid:nth-child(3) {
        display: none;
    }

    .pricing-grid {
        width: 50%;
    }

    .basic-plan p span {
        font-size: 28px;
    }

    .clients-info p {
        margin: 10px 0 0 0;
        overflow: hidden;
        height: 40px;
    }

    .client-grid:nth-child(2) {
        display: none;
    }

    .client-grid {
        width: 33.3%;
    }

    .clients-grids {
        margin-top: 16px;
    }

    .contact-left {
        width: 100%;
    }

        .contact-left input[type="text"] {
            padding: 5px;
            margin: 0px 0px 14px 0;
            width: 100%;
        }

    .contact-right {
        width: 100%;
    }

        .contact-right textarea {
            height: 124px;
            margin-bottom: 10px;
        }

    .contact-form input[type=submit] {
        font-size: 12px;
        padding: 2px 7px;
    }

    .footer-left p {
        font-size: 12px;
    }
}
